.home-container {
  display: flex;
}

.sidebar-wrapper {
  width: 250px;
  padding: 20px;
  background-color: #f4f4f4;
}

.content-wrapper {
  flex-grow: 1;
  padding: 20px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.sidebar nav ul li a:hover {
  color: #0066cc;
}
